<%- include('partials/head')  %>


    <%- include('partials/navbar')  %>

        <div class="container">
            <h1>Browsing the
                <%= name %> subreddit </h1>
            <h2>
                <%= description  %>
            </h2>
            <p>
                <%= subscribers %> Total Subscribers </p>
            <hr>
            <% for (var i = 0; i < posts.length; i++) { %>
                <article>
                    <p>
                        s
                        <%= posts[i].title  %> - <b> <%= posts[i].author %> </b>
                            <img src="<%= posts[i].img %> " alt="">
                    </p>
                    <p>
                        <%= posts[i].body %>
                    </p>
                    <% } %>
                </article>
        </div>
        <%- include('partials/footer')  %>